<div class="container my-3">
  <div class="d-flex justify-content-center">
    <input [(ngModel)]="textValue" type="text" class="input-group-text">
    <button (click)="addTodo()" class="btn btn-primary m-2">{{isUpdating?"update":"add"}}</button>
  </div>
  <div class="d-flex flex-column my-3 text-start">
    <ul class="list-group list-group-flush">
      <app-item *ngFor="let item of items" [textValue]="item.itemValue" [id]="item.id" [items]="items" (idEmitter)="actionOnItem($event)"></app-item>
    </ul>
  </div>
</div>